/* -----------------------Шапка Сайта----------------------- */
header{
    border-bottom: 1px solid rgb(164, 163, 163);
}
header img{
    padding: 0 100px;
}
.header1{
    display: flex;
    gap: 20px;
    border-bottom: 1px solid rgb(164, 163, 163);
}
.header1 p{
    padding: 10px 10px;
    cursor: pointer;
    font-weight: bold;
    color: gray;
}
.header1 p:hover{
    color: #0673c4;
}
.header2 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    text-align: center;
}
.header2 p{
    font-size: 15pt;
    color: gray;
    cursor: pointer;
}
.header2 p:hover{
    color: #0673c4;
}
header button{
    background-color: #eefafb;
    border: 1px solid #eefafb;
    color: #0673c4;
    padding: 5px 20px;
    font-size: 13pt;
    font-weight: bold;
    border-radius: 15px;
    margin-left: 200px;
    margin-right: 70px;
    cursor: pointer;
}
/* ------------------------------------------------------------ */
body{
    margin: 0;
}
main{
    background-color: rgb(247, 247, 248);
    display: flex;
    flex-direction: row;
}
main h1{
    color: #0673c4;
    text-align: center;
    margin-top: 40px;
    font-size: 40pt;
}
/* -----------------------Меню Сайта----------------------- */
.menu{
    width: 20%;
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    background-color: #046cb9;
}
.menu a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 14pt;
}
.menu a:hover{
    color: #9ccfed;
}
.main{
    width: 80%;
    height: max-content;
    padding: 20px;
}
/* -----------------------Страница О компании----------------------- */
.bl1{
    display: flex;
    flex-direction: row;
    gap: 30px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}
.bl1 h3{
    font-size: 18pt;
}
.bl1 div{
    font-size: 16pt;
}
.bl2{
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 85%;
    margin: 40px auto;
}
.numb{
    font-size: 25pt;
    font-weight: bold;
}
.bll2{
    background-color: white;
    border-radius: 15px;
    padding: 30px 40px;
    width: 50%;
}
.bll21{
    background-color: white;
    border-radius: 15px;
    padding: 30px 40px;
    width: 50%;
}
.bll21 div{
    padding: 10px;
    font-size: 15pt;
}
.bl3{
    background-color: white;
    border-radius: 15px;
    width: 80%;
    padding: 20px;
    margin: 0 auto;
}
.bl33{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 30px 40px;
}
.bl4{
    background-color: white;
    border-radius: 15px;
    width: 80%;
    padding: 20px;
    margin: 40px auto;
}
.bl44{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
li{
    font-size: 14pt;
}
.bl5{
    background-color: white;
    border-radius: 15px;
    width: 80%;
    padding: 20px;
    margin: 0 auto;
}
.bl55{
    display: flex;
    flex-direction: row;
    gap: 70px;
    font-size: 12pt;
    padding: 0 40px;
}
/* -----------------------Страница Новости----------------------- */
.filter{
    display: flex;
    gap: 15px;
    justify-content: center;
}
.filter p{
    border: 1px solid gray;
    padding: 5px 30px;
    border-radius: 15px;
    cursor: pointer;
}
.news{
    border-bottom: 1px solid gray;
    width: 70%;
    margin: 0 auto;
    cursor: pointer;
    padding: 10px;
}
.news:hover{
    border-left: 4px solid #046cb9;
}
.vsk{
    background-color: #4cbcea;
    color: white;
    border-radius: 30px;
    width: 40px;
    font-size: 9pt;
    padding: 5px;
    text-align: center;
}
.date{
    display: flex;
    flex-direction: row;
    gap: 70%;
    color: gray;
    font-size: 10pt;
}
/* -----------------------Страница Курс валют----------------------- */
.vals{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 60px;
}
input, select{
    border: 1px solid #046cb9;
    border-radius: 15px;
    color: #0673c4;
    padding: 10px 20px;
}
input::placeholder{
    color: #046cb9;
}
.val button{
    border: 1px solid #046cb9;
    border-radius: 15px;
    color: #0673c4;
    padding: 10px 20px;
    cursor: pointer;
}
/* -----------------------Страница Контактные данные----------------------- */
.map{
    text-align: center;
}
.phones{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}
.phones .num{
    font-size: 20pt;
    color: #4cbcea;
    cursor: pointer;
    font-weight: bold;
}
.phones .num:hover{
    color: #046cb9;
}
/* -----------------------Страница Видео----------------------- */
.video{
    background-color: #cae8f9;
    text-align: center;
    width: 60%;
    margin: 30px auto;
    border-radius: 20px;
    padding: 20px;
}
.video h2{
    color: #0673c4;
    font-size: 22pt;
    
}
.video iframe{
    border-radius: 20px;
}
/* -----------------------Подвал Сайта----------------------- */
footer{
    padding: 40px;
    background-color: white;
}
footer .num{
    font-size: 18pt;
    font-weight: bold;
    cursor: pointer;
}
footer .num:hover{
    color: #0673c4;
}
footer .txt{
    font-size: 10pt;
}
.footer1{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
}
.footer1 p, h4{
    cursor: pointer;
}
.footer1 p:hover{
    color: #0673c4;
}
.footer2{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}
.footer3{
    color: gray;
    padding: 30px 40px;
}
